<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Employee</title>
</head>
<body>
  <form th:action="@{/employees/save}" th:object="${employee}" method="post">

    <input type="text" th:field="*{firstName}" placeholder="First name">
    <input type="text" th:field="*{lastName}" placeholder="Last name">
    <input type="text" th:field="*{email}" placeholder="Email">
    <button type="submit" class="btn btn-info col2">Save</button>
  </form>
</body>
</html>