<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<form th:action="@{/processStudentForm}" th:object="${student}" method="post">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" th:field="*{firstName}" required>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" th:field="*{lastName}" required>
    <label >Select a Country:</label>
    <select th:field="*{country}"  required>
        <option value="usa">United States</option>
        <option value="canada">Canada</option>
        <option value="uk">United Kingdom</option>
        <option value="australia">Australia</option>
        <option value="germany">Germany</option>
    </select>

  <button type="submit">Submit</button>
</form>
</body>
</html>